
.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 2.5rem;
	width: 90%;
	max-width: 1000px;
	margin: 5vh auto;
}
.cards ul  {
	list-style-type: none;
}
.container{
	margin-top: 50px;
}
